@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body {
    background: #081b29;
    color: #ededed;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #081b29;
}

.active {
    color: #00abf0;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

#menu-icon {
    font-size: 1.9rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}
.home {
    height: 100vh;
    background: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
    z-index: 99;
}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h1 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

}
.home-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #00abf0;

}
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 14px;
    margin: 10px 0 30px;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}


/* Apply typewriter animation to the animated text */
.animated-text {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #00abf0;
    /* Neon blue color */
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    /* Cursor initial state */
    animation: typing 4s steps(30) forwards, blink-caret 0.5s step-end infinite;
    animation-delay: 1.3s;
}

/* Applying backspace and re-type animation to the cursor */
.cursor {
    margin-left: 3px;
    animation: none;

}

/* Keyframes for the typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Handle line breaks and reduce font size for smaller screens */
@media (max-width: 768px) {
    .animated-text {
        font-size: 18px;
        /* Adjust font size for smaller screens */
        white-space: normal;
    }
}


.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}
.btn-box {
    width: 300px;
}
.btn-box a,
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 17px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box a:hover,
.btn-box .btn:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2),
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover,
.btn-box .btn:nth-child(2):hover {
    color: #081b29;
}
.btn-box a:nth-child(2)::before,
.btn-box .btn:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before,
.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before,
.btn-box .btn:hover::before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 16px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 80px;
}

.home-sci a:hover {
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: 8;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}


.profile-image {
    position: absolute;
    top: 51%;
    right: 170px;
    /* Adjust the distance from the right edge */
    transform: translateY(-50%);
    width: 500px;
    /* Adjust the width as needed */
    height: 500px;
    /* Adjust the height as needed */
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

}
.profile-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.profile-image img {
    max-width: 100%;
    max-height: 100%;
    transition: filter 0.5s;
    /* Add transition for smooth image effect */
}

.profile-image img:hover {
    filter: brightness(70%);
    /* Darken the image on hover */
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: #0d2c43;
    padding-bottom: 7rem;

}

.heading {
    font-size: 2.9rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 80px;
}

span {
    color: #00abf0;
}

.about-img {
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #0d2c43;
    border-bottom: .2rem solid #0d2c43;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 1.5rem;

}

.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: #081b29;
}
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 3rem;
    flex: 1 1 20rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    /* Center the columns horizontally */
}

.education-column {
    flex: 1 1 25rem;
    /* Adjust width for two columns with gap */
}

.title {
    font-size: 1.6rem;
    margin: 0 0 1.1rem 1.4rem;
    margin-top: 30px;
}

.year {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.content-text {
    font-size: 0.5rem;
    /* Adjust the font size for content text */
    margin: 0;
    /* Reset margin for paragraphs */
}

.education-column .education-box {
    font-size: 0.8rem;
    border-left: .2rem solid #00abf0;


}

.education-box .education-content {
    position: relative;
    padding-left: 1.5rem;



}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.3rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1rem;
    border: .1rem solid #00abf0;
    border-radius: .4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    overflow: hidden;


}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0d2c43;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before {
    width: 100%;


}
.education-content .content .year {
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

.education-content .content .year {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 1.3rem;
}

.education-content .content p {
    font-size: 12px;
    padding-top: .3rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: #0d2c43;
    overflow: hidden;
    /* Ensure content within boxes doesn't overflow */
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* Adjust the gap between columns */
    justify-content: space-between;
    width: 90%;
    margin-left: 60px;
    margin-top: 50px;
}

.skills .skills-column {
    flex: 1 1 calc(50% - 1rem);
    /* Adjust the width of each column */
}

.skills-column .title {
    font-size: 1.8rem;
    /* Adjust the title font size */
    margin: 0 0 0.8rem;
}

.skills-box .skills-content {
    position: relative;
    border: 0.15rem solid #00abf0;
    border-radius: 0.3rem;
    /* Adjust the border radius */
    padding: 0.4rem 0.6rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 0.6rem 0;
}

.skills-content .progress h3 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 1.2rem;
    /* Adjust the bar height */
    border-radius: 0.3rem;
    /* Adjust the border radius */
    border: 0.1rem solid #00abf0;
    /* Adjust the border width */
    padding: 0.2rem;
    margin: 0.6rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.2rem;
    background: #00abf0;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(9) .bar span {
    width: 82%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 67%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 98%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(8) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(9) .bar span {
    width: 95%;
}

/*contact me */

.contact {
    min-height: auto;
    padding-bottom: 6rem;
    background: #0d2c43;
    padding-top: 2rem;

}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.3rem;
    font-size: 1rem;
    color: #ededed;
    background: #081b29;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #ededed;
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0d2c43;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: center;
    padding: 2rem 9%;
    background: #081b29;
}

.footer-text p {
    font-size: 1.2rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: .8rem;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;

}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0d2c43;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.2rem;
    color: #081b29;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: #00abf0
}

/* Common styles for both desktop and mobile */
.portfolio {
    padding: 30px 0;
    background: #081b29;
    color: rgb(238, 255, 0);
}

.portfolio p {
    color: white;
}



/* Certifications Section */
.certifications {
    padding: 30px 0;
    background: #0d2c43;
    color: rgb(238, 255, 0);
}


.certifications p {
    color: white;
}

.highlight {
    color: white;
}

.subtle-highlight {
    color: #00abf0;
}

.subtle-text {
    font-size: 16px;
}

.certifications .heading {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.certifications-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    
}

.certification-box {
    flex: 0 0 calc(30.33% - 17px);
    position: relative;
    margin-bottom: 15px;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #00abf0;

}

.certification-box:hover {
    border: 3px solid #00abf0;
    background-color: #081b29;
    transform: translateY(-3px);
    z-index: 1;

}

.certification-image {
    width: 100%;
    height: 100%;
    max-width: 200%;
    border-radius: 8px;
}

.certification-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 171, 240, 0.9));
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.certification-box:hover .certification-layer {
    opacity: 1;
    animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.certification-box:hover .certification-layer {
    opacity: 1;
}

.certification-layer h4 {
    margin-bottom: 6px;
    font-size: 14px;
}

.certification-layer p {
    color: #ffffff;
    font-size: 12px;
    max-width: 70%;
    margin: 6px auto;
}

.certification-layer a {
    margin-top: 8px;
    color: #5f0505;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.certification-layer a:hover {
    color: #081b29;
}


.certification-link {
    position: relative;
}

.certification-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 6px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 10px;
}

.certification-link i:hover {
    background-color: #000000;
    color: white;
}

.btn-cert {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 17px;
    color: #0d2c43;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-cert a {
    text-decoration: none;
    color: inherit;
}

.btn-cert a:hover {
    color: #00abf0;

}

.btn-cert a:hover::before {
    width: 100px;
}

.btn-cert a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-cert:hover::before {
    width: 100%;
}

.btn-cert:hover {
    color: #00abf0;
    background: #081b29;
}

.animate.scroll {
    animation: scroll 3s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@media (max-width: 400px) {
    .certifications {
        padding: 15px 0;
    }

    .certification-box {
        flex: 0 0 100%;
    }

    .certification-layer h4 {
        font-size: 14px;
    }

    .certification-layer p {
        font-size: 8px;
    }

    .certification-layer a {
        font-size: 12px;
    }

    .certification-link i {
        font-size: 16px;
        margin-top: 8px;
    }
}

@media (max-width: 400px) {
    .portfolio {
        padding: 15px 0;
    }

    .certification-box {
        flex: 0 0 100%;
    }

    .certification-layer h4 {
        font-size: 14px;
    }

    .certification-layer p {
        font-size: 8px;
    }

    .certification-layer a {
        font-size: 12px;
    }

    .certification-link i {
        font-size: 16px;
        margin-top: 8px;
    }
}




/* Media query for mobile views */
@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-box {
        width: 100%;
        max-width: none;
        border-radius: 1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .portfolio-layer {
        padding: 1rem;
        border-radius: 1rem;
    }

    .portfolio-layer h4 {
        font-size: 1.2rem;
    }

    .portfolio-layer p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}


@media (max-width: 1200px) {
    .profile-image {
        opacity: 0.8;
        display: none;
        transition: opacity 0.5s;
    }

    .home-content {
        position: relative;
        z-index: 2;

    }
}

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }

}

@media (max-width: 768px) {
    .header {
        background: #081b29;

    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00abf0;
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.25s ease;
        transition-delay: 0.25s;
    }
    .navbar.active {
        position: absolute;
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #081b29;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;

    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;

    }

    .home-imgHover {
        pointer-events: none;
        background: #081b29;
        opacity: .6;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci {
        width: 180px;
        margin-bottom: -23px;

    }
    .home-sci a {
        width: 36px;
        height: 36px;
        bottom: -80px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;

    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .education .heading {
        margin-top: -30px;
    }

    .skills-column:nth-child(2) {

        gap: 1rem;
        width: 100%;
        margin-left: -45px;
        margin-top: 20px;
        margin-right: 48px;
    }

    .skills-column:nth-child(1) {
        margin-right: 50px;
        margin-left: -50px;

    }

    .skills-content {
        margin-top: 30px;
    }

    .skills .heading {
        margin-top: -30px;
    }



    .contact form .input-box .input-field {
        width: 100%;

    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .footer-iconTop {
        align-self: center;
    }

}

@media (max-width: 400px) {
    .home {
        justify-content: center;

    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }

    .about-content {
        font-size: 30px
    }

    .about .heading {
        margin-top: -30px;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}